################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API.Solution/.vs/API.Solution
/API.Solution/API.Project/obj
/API.Solution/API.Project/bin/Debug/net8.0
/API.Solution/API.Project/API.Project.csproj.user
